nn-tinyml/.DS_Store
nn-tinyml/camera/.DS_Store
svc_classifier/.DS_Store
nn-tinyml/.DS_Store
nn-tinyml/camera/.DS_Store
Random Forest/random_forest.pk
dataset
.ipynb_checkpoints
.DS_Store
.vscode
svc_classifier/svc.pk
nn-tinyml/.DS_Store
nn-tinyml/camera/.DS_Store
image_1.txt
sample.jpeg
